
@{
    ViewData["Title"] = "SignIn";
}


<button id="button">SignIn</button>

@section Scripts{

    <script src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js" integrity="sha384-SNENyRfvDvybst1u0LawETYF6L5yMx5Ya1dIqWoG4UDTZ/5UAMB15h37ktdBbyFh" crossorigin="anonymous"></script>
    <script>

        microsoftTeams.initialize();
        microsoftTeams.getContext(context => {

            window.location.assign("");
        });

    </script>
}

